# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# ENV
# ===============================
env/
venv/
ENV/
.venv/
.env

# ===============================
# BUILD
# ===============================
build/
dist/
*.egg-info/

# ===============================
# IDE
# ===============================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ===============================
# LOGS
# ===============================
*.log
logs/

# ===============================
# CACHE
# ===============================
.cache/
.pytest_cache/

# ===============================
# TEMP FILES
# ===============================
*.tmp
*.bak
*backup*
~*

# ===============================
# DATA (IMPORTANT - FOLDER BASED)
# ===============================
data/
archive/

# ===============================
# OPTIONAL (large outputs)
# ===============================
*.zip
*.xlsx